
@media (min-width: 350px){
#page-wrapper {
    background: #fbfcfe!important;
    /* background: #f0f; */
    /* background: #f0f8fb; */
    min-height: 800px!important;
}
}
.bg-title {
    background: #fbfcfe;
}