.home-header-left{
    /* height: 100px; */
    width: 100%;
}

.navbar-collapse .home-header-left .home-logo{
    /* height: 100px;
    width: 100px; */
}
.navbar-collapse .home-header-left .home-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.background{
    background: #7e41a6;
}

.hero-section{
    margin: 0px;
}
.hero-section .hero-image{

    background: url(../../optimum/plugins/images/home-page.png) top center/cover no-repeat!important;
    height: 100%;
}

.why-avox{
margin: 0px;
padding: 20px 0px;
}
.why-avox .heading{
    margin: 25px;

}
.why-avox .heading h2{
    font-size: 40px;
    color: #103160;
    font-weight: 500;
    text-align: center;
    padding: 5px;
}

.why-avox .why-avox-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    grid-auto-rows: minmax(100px,auto);
}
.why-avox .why-avox-block .avox-block-in{
    padding: 0px;
    margin: 0px;
}

.why-avox .why-avox-block .avox-block-in .avox-block-img{
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem;

}
.why-avox .why-avox-block .avox-block-in .avox-block-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.why-avox .why-avox-block .avox-block-in h2{
    font-size: 18px;
    color: #103160;
    text-align: center;
}

.avox-feature{
    /* background-color: #f5faff; */
}

.avox-feature .feature-table td, .feature-table th {
    border-bottom: 3px solid #ddd;
    padding: 20px;
    font-size: 16px;
    color: #103160;
  }
  .avox-feature .feature-table{
      width: 100%;
  }
  .avox-feature .feature-table tr:nth-child(even){
      /* background-color: #f2f2f2; */
      /* border-bottom: 2px solid #2e609c; */
    }
    .avox-feature .feature-table tr:nth-child(odd){
        /* background-color: #f2f2f2; */
        /* border-bottom: 2px solid #2e609c; */
      }

  .avox-feature .feature-table tr:hover {background-color: #ddd;}

  .avox-feature .feature-table th {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    background-color: #ed84ea;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }

.avox-feature .header{
    margin: 0px;
    padding: 40px;
}

.avox-feature .header h2{
    font-size: 40px;
    font-weight: 500;
    color: #103160;
    text-align: center;
}
.avox-feature .feature-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    grid-auto-rows: minmax(280px,auto);
    margin-top: 40px;
    background-color: #f7f7f4;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
}
.avox-feature .feature-box .feature-box-image{
    height: 300px;
    /* width: 520px; */
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.avox-feature .feature-box .feature-box-image::after{
    content: '';
    display: block;
    /* background-image: url(../plugins/images/shapes-01.png); */
    background-position: center center;
    background-repeat: no-repeat;
    width: 90%;
    height: 330px;
    background-size: 326px;
    padding: 2.2rem 0rem 0rem;
    position: absolute;
    top: -17.5rem;
    right: 240px;
}
.avox-feature .feature-box .feature-box-image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    border-radius: 0px 10px 10px 0px;
}
.avox-feature .feature-box .feature-box-image2{
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: 300px;
}
.avox-feature .feature-box .feature-box-image2 img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    /* box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88); */
    border-radius: 10px 0px 0px 10px;
}
.avox-feature .feature-box .feature-box-image .image2{
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    height: 300px;
    width: 300px;
    top: -10px;
}
.avox-feature .feature-box .feature-box-content{
    margin: 30px 20px;
}
.avox-feature .feature-box .feature-box-content .image-second{
    position: relative;
    height: 250px;
    /* right: 129px; */
    /* top: 84rem; */
    left: -227px;
}
.avox-feature .feature-box .feature-box-content h2{
   font-size: 26px;
   color: #195D9B;
   font-weight: 500;
}
.avox-feature .feature-box .feature-box-content span{
    font-size: 28px;
    color: #103160;
}
.avox-feature .feature-box .feature-box-content h3{
    font-size: 18px;
    padding: 10px 0px;
    color: #66B9D3;
 }
 .avox-feature .feature-box .feature-box-content img{
    position: relative;
    height: 250px;
    width: 250px;
    left: 500px;
    top: -10px;
 }

 .testimonial{
     margin: 20px;
     padding: 0px;
 }
 .testimonial .heading{
     margin: 30px;
 }
 .testimonial .heading h2{
    font-size: 40px;
    font-weight: 500;
    color: #103160;
    text-align: center;
 }
 .testimonial .testimonial-block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:30px;
    grid-auto-rows: minmax(400px,auto);
 }
 .testimonial .testimonial-block .testimonial-content{
     background: #1D84B9;
     border-radius: 20px;
     padding-top: 10rem;
 }
 .testimonial .testimonial-block .testimonial-content h2{
    color: #fff;
    font-size: 34px;
    padding: 0px;
    text-align: center;
    font-weight: 500;
 }
 .testimonial .testimonial-block .client-testimonial{
     margin-top: 20px;
 }
 .testimonial .testimonial-block .client-testimonial h2{
     margin-top: 30px;
     font-size: 20px;
     line-height: 1.3;
     text-align: justify;
 }
 .testimonial .testimonial-block .client-testimonial hr{
     font-size: 2px;
     color: #66B9D3;
 }

 .testimonial .testimonial-block .client-testimonial .client-details{
    padding: 0.5rem 0rem;
    background-color: #236161;
 }
 .testimonial .testimonial-block .client-testimonial .client-details .service-text{
    margin: 10px;
    text-align: center;
    width: 100%;
    height: 145px;
    border-radius: 0px;
    overflow: hidden;
    /* border: 10px solid #f0f; */
    -webkit-box-shadow: 0 3px 5px 0 rgb(32 113 117 / 33%);
    box-shadow: 0 3px 5px 0 rgb(32 113 117 / 33%);
 }
 .testimonial .testimonial-block .client-testimonial .client-details .service-text img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

  .get-in-touch{
     /* margin: 0px 0px; */
     padding: 20px 0px;
 }
    .get-in-touch .heading{
    margin: 0px;
    padding: 10px;
}

 .get-in-touch .heading h2{
    font-size: 40px;
    font-weight: 500;
    color: #103160;
    text-align: center;
 }
 .get-in-touch .heading img{
    position: absolute;
    height: 240px;
    top: 40rem;
    left: 67rem;
    bottom: 80rem;
 }
 .get-in-touch .contact-us{
     display: grid;
     grid-template-columns: 1fr;
     gap:18rem;
     grid-auto-rows: minmax(200px,auto);
     width: 60%;
    margin-left: 20%;
 }
 .get-in-touch .contact-us .contact-us-form{
     margin: 0px;
     padding: 20px 40px;
     border-radius: 20px;
     background: #f7f7f4;
     box-shadow: 4px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 4px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 4px 5px 5px 0px rgba(184,230,240,0.88);
 }
 .get-in-touch .contact-us .contact-us-form label{
    color:#1D84B9;
    font-size: 22px;
    font-weight: 400;
 }
 .get-in-touch .contact-us .contact-us-form input {
    color: #66B9D3;
    background: #fff;
    border: none;
    width: 100%;
    padding: 20px;
 }
 .get-in-touch .contact-us .contact-us-form textarea{
     border: none;
     padding: 20px;
 }
 .get-in-touch .contact-us .contact-us-form input ::placeholder{
     color:#66B9D3;
 }

 .get-in-touch .contact-us .contact-us-form .form-control {
    background: #f7f7f4  !important;
    border-bottom: 2px solid #1d84b9;
    border-radius: 0;
    box-shadow: none;
    color: #565656;
    height: 38px;
    width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
    margin: 10px 0px;
 }

 .get-in-touch .contact-us .contact-us-form h2{
     color: #66B9D3;
     font-size: 20px;
     font-weight: 500;
     padding: 0px 0px 20px 0px;
     text-align: center;
 }
 .get-in-touch .contact-us .contact-us-image{
     height: 500px;
     width: 100%;
 }
 .get-in-touch .contact-us .contact-us-image img{
     height: 100%;
     width: 100%;
     object-fit: fill;
     border-radius: 10px;
     box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
 }

 .get-in-touch .contact-us .contact-us-form .submit-icon{
text-align: center;
 }

 .get-in-touch .contact-us .contact-us-form .contact-fill{
     width: 100%;
 }
 .get-in-touch .contact-us .contact-us-form .submit-icon button{
     background:linear-gradient(90deg, rgba(25,93,155,1) 52%, rgba(29,132,185,1) 100%, rgba(102,185,211,1) 100%, rgba(255,255,255,0) 100%);
     border-radius: 30px;
     font-size: 20px;
     font-weight: 400;
     width: 30%;
     color: #fff;
     border:1px solid #66B9D3;
 }

.touch-details{
    margin: 30px 0px;
}
.touch-details .heading{
font-size: 18px;
}
.touch-details .contact-us{
width: 100%;
  }

  .touch-details .contact-us .form-data{
    width: 30%;
  }
  .touch-details .contact-us form{
      width: 100%;
  }
 .bottom{
     /* margin: 30px 0px; */
     padding: 30px 0px;
    }

    .bottom .footer-in{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:0rem;
        grid-auto-rows: minmax(400px,auto);
        border-radius: 20px;
    }
    .bottom .footer-in .footer-left{
        padding: 0px;
    }
    .bottom .footer-in .footer-left .footer-about{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap:0px;
        grid-auto-rows: minmax(200px,auto);
        background: #66B9D3;
        border-radius: 30px 0px 0px 0px;
        padding: 30px;
    }
    .bottom .footer-in .footer-left .footer-about .logo{
        height: 150px;
        width: 120px;
        padding-top: 10px;
        margin-left: 20px;
    }

    .bottom .footer-in .footer-left .footer-about .logo img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .bottom .footer-in .footer-left .footer-about .logo-content{
        padding-left: 20px;
        margin-top: 2rem;
    }
    .bottom .footer-in .footer-left .footer-about .logo-content h2{
        color: #fff;
        font-size: 18px;
    }
    .bottom .footer-in .footer-left .footer-link{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:0px;
        grid-auto-rows: minmax(200px,auto);
        background: #1D84B9;
        border-radius: 0px 0px 0px 30px;
        padding: 30px;
    }

    .bottom .footer-in .footer-left .footer-link div{
        padding: 10px;
    }
    .bottom .footer-in .footer-left .footer-link h2{
        font-size: 22px;
        color: #fff;
        font-weight: 400;
    }
    .bottom .footer-in .footer-left .footer-link a{
        font-size: 16px;
        color: #fff;
    }
    .bottom .footer-in .footer-right{
        padding: 10px 60px 10px 60px;
        background: #195D9B;
        border-radius: 0px 30px 30px 0px;
    }
    .bottom .footer-in .footer-right h2{
        padding-top: 10rem;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 400;
    }

    .bottom .footer-in .footer-right h3{
        font-size: 18px ;
        color: #fff;
        text-align: justify;
        padding: 20px 0px;
    }
    .bottom .footer-in .footer-right .button-center{
        text-align: center;
    }
    .bottom .footer-in .footer-right button{
        width: 50%;
        color: #fff;
        border: 1px solid #66B9D3;
        border-radius: 20px;
        background: #195D9B;
        font-size: 18px;
        padding: 20px;
        text-align: center;
    }
    .bottom .footer-in .footer-right i{
        font-size: 30px;
    }

    .bottom .footer-in .footer-right  h4{
        font-size: 18px ;
        color: #fff;
        text-align: center;
        padding-top: 6rem;
    }
    .text-center{
        text-align: center;
    }

.owl-carousel .owl-nav div{
    background:rgba(255,255,255,0.8) none repeat scroll 0 0;
    height:40px;
    left:20px;
    line-height:40px;
    font-size:22px;
    color:#646464;
    opacity:1;
    visibility:visible;
    position:absolute;
    text-align:center;
    top:50%;
    transform:translateY(-50%);
    transition:all 0.3s ease 0s;
    width:40px
}
.owl-carousel .owl-nav div.owl-next{
    left:auto;
    right:-30px
}
.owl-carousel .owl-nav div.owl-next i{
    position:relative;
    right:0;
    top:1px
}
.owl-carousel .owl-nav div.owl-prev i{
    position:relative;
    right:1px;
    top:0px
}
.owl-carousel:hover .owl-nav div{
    opacity:1;
    visibility:visible
}
.owl-carousel:hover .owl-nav div:hover{
    color:#fff;
    background:#ff3500
}

.pricing{
    margin: 20px 0px;

}

.pricing .heading{
    margin: 20px;
    padding: 10px;
}

.pricing .heading h2{

    font-size: 40px;
    font-weight: 500;
    color: #103160;
    text-align: center;
}
.pricing .pricing-sec{

    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:3rem;
    grid-auto-rows: minmax(200px,auto);
}

.pricing .pricing-sec .price-one{
    border-radius: 10px;
    box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    margin: 10px;
}
.pricing .pricing-sec .price-one .price-img{
   height: 230px;
   width: 100%;
   position: relative;
  }
.pricing .pricing-sec .price-one .price-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   border-radius: 20px;
}
.pricing .pricing-sec .price-one .price-img .text-on-image{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
}
.pricing .pricing-sec  .price-one h2{
    font-size: 2rem;
    color:#1D84B9 ;
    text-align: center;
}

.pricing .pricing-sec  .price-one h3{
    font-size: 26px;
    color:#195D9B ;
    text-align: center;
    font-weight: 600;
}
.pricing .pricing-sec .price-one button{
color:#1D84B9;
padding: 10px;
font-size: 14px;
margin: 2rem;
text-align: center;
background-color: #fff;
border-radius: 20px;
width: 40%;
border: 1px solid #1D84B9;
}
.pricing .pricing-sec .price-one button:hover{
background-color: #195D9B;
color: #fff;
}
.pricing .pricing-sec  .price-one .btn-center{
    text-align: center;
}

.banner-image{
    height: 90%;
    width: 100%;
}
.banner-image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* .signup{
    margin: 2rem 0rem;
}
.signup .signup-sec{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
    grid-auto-rows:minmax(200px,auto);
}
.signup .signup-sec .signup-left {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-auto-rows:minmax(200px,auto);

}
.signup .signup-sec .signup-left .signup-left-in{
    margin: 10px 0px;
}
.signup .signup-sec .signup-right{
    margin: 2rem 0rem;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-content{
margin: 1rem;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec{
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    margin: 10px;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec .pricing-img{
    height: 100px;
    width: 100%;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec .pricing-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec h2{
    font-size: 1.5rem;
    color:#1D84B9 ;
    text-align: center;
    line-height: 2rem;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec h3{
    font-size: 26px;
    color:#195D9B ;
    text-align: center;
    font-weight: 600;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec button{
    color:#1D84B9;
    padding: 8px;
    font-size: 14px;
    margin: 1rem;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 40%;
    border: 1px solid #1D84B9;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec button:hover{
    background-color: #195D9B;
color: #fff;
}
.signup .signup-sec .signup-left .signup-left-in .pricing-sec .btn-center{
    text-align: center;
} */

@media screen and (max-width:900px){
    .bottom .footer-in .footer-left .footer-about{
        padding: 10px;
    }
    .bottom .footer-in .footer-right {
        padding: 10px;
    }
    .bottom .footer-in .footer-left .footer-about .logo {
        height: 125px;
        width: 100px;
        padding-top: 10px;
    }
    .bottom .footer-in .footer-left .footer-about .logo-content {
        margin-top: 0px !important;
    }
    .bottom .footer-in .footer-left .footer-link {
        padding: 10px;
    }
    .bottom .footer-in .footer-left .footer-link h2 {
        font-size: 20px;
    }
    .bottom .footer-in .footer-right h2 {
        padding-top: 1rem;
    }
    .bottom .footer-in .footer-right h3 {
        padding: 0px!important;
    }
    .bottom .footer-in .footer-right button {
        width: 100%;
        padding: 0px;
    }
    .bottom .footer-in .footer-right h4 {
        padding-top: 1rem;
    }
}
    @media screen and (max-width:767px){
        .avox-feature .feature-box .feature-box-content{
            margin: 0px 0px ;
        }
        .avox-feature .feature-box{
            grid-template-columns: 1fr 1fr;
        }
        /* .get-in-touch .heading{
            margin: 10px;
        }
        .get-in-touch .contact-us{
            grid-template-columns: 1fr;
            gap:5rem;
        } */
        .avox-feature .feature-box{
            grid-template-columns: 1fr;
            gap:2rem
        }
        .avox-feature .feature-box .feature-box-content img {
            height: 0px;
            width: 0px;
        }
        .avox-feature .feature-box .feature-box-content .image2 {
            height: 0px;
            width: 0px;
        }
        .avox-feature .feature-box  .feature-box-image{
            height: 280px;
            width: 280px;
        }

        .avox-feature .feature-box .feature-box-content .image-second{
            height: 0px;
            width: 0px;
        }

        /* .bottom .footer-in .footer-left .footer-about {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(100px,auto);
        }
        .bottom .footer-in .footer-left .footer-about .logo {
            height: 140px;
            width: 110px;
        } */

        .pricing .pricing-sec{
            grid-template-columns: 1fr;
        }

        .pricing .pricing-sec .price-one button{
        width: 30%;
        }

        .home-header-left {
            height: 140px;
            width: 40%;
            margin: 0px;
        }
        .box-width {
            width: 100%;
            margin-top: 42rem;
        }
        .get-in-touch .contact-us .contact-us-form .submit-icon{
            text-align: center!important;
        }
        .get-in-touch .contact-us .contact-us-form .submit-icon button{
            width: 50%;
        }
        [class*=" ti-"], [class^=ti-] {
            font-size: 24px;
            color: #1D84B9;
            font-weight: 600;
        }
        .navbar-default .navbar-toggle {
            border:0px;
        }

    }

    .signup-sec{
        margin: 120px 0px;
    }
    .signup-sec .box1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:0.5rem;
        grid-auto-rows: minmax(200px,auto);
    }
    .signup-sec .box1 .box-left{
margin: 0px;
padding: 20px;
/* background: #103160; */
box-shadow: 2px 4px 5px 0px rgba(95,174,191,0.75);
-webkit-box-shadow: 2px 4px 5px 0px rgba(95,174,191,0.75);
-moz-box-shadow: 2px 4px 5px 0px rgba(95,174,191,0.75);
    }

 .signup-sec .box1 .box-left .boxes-three{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 2rem;
     grid-auto-rows: minmax(200px,auto);
 }
 .signup-sec .box1 .box-left .boxes-three .pricing-sec{
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -webkit-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
    -moz-box-shadow: 2px 5px 5px 0px rgba(184,230,240,0.88);
 }

 .signup-sec .box1 .box-left .boxes-three .pricing-sec .pricing-img{
    height: 100px;
    width: 100%;
    position: relative;
 }
 .signup-sec .box1 .box-left .boxes-three .pricing-sec .pricing-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
 }
 .signup-sec .box1 .box-left .boxes-three .pricing-sec .pricing-img .text-on-image{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
 .signup-sec .box1 .box-left .boxes-three .pricing-sec h2{
    font-size: 1.5rem;
    color:#1D84B9;
    text-align: center;
    line-height: 2rem;
}
.signup-sec .box1 .box-left .boxes-three .pricing-sec h3{
    font-size: 26px;
    color:#195D9B ;
    text-align: center;
    font-weight: 600;
}
.signup-sec .box1 .box-left .boxes-three .pricing-sec button{
    color:#1D84B9;
    padding: 8px;
    font-size: 14px;
    margin: 1rem;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 50%;
    border: 1px solid #1D84B9;
}
.signup-sec .box1 .box-left .boxes-three .pricing-sec button:hover{
    background-color: #195D9B;
    color: #fff;
}
.signup-sec .box1 .box-left .boxes-three .pricing-sec .btn-center{
    text-align: center;
}

 .signup-sec .box1 .box-left .box-content{
     color: #66B9D3;
 }

 .signup-sec .box1 .box-left .box-content{
margin: 40px 0px;
 }
 .signup-sec .box1 .box-left .box-content h2{
     font-size: 2.5rem;
     font-weight: 600;
     color: #103160;
     text-align: center;
 }
 .signup-sec .box1 .box-left .box-content ul{
     font-size: 12px;
     margin: 30px 0px;
 }
 .signup-sec .box1 .box-left .box-content ul li{
     color:#195D9B;
     font-size: 1.8rem;
     margin: 20px 0px;
 }
    .signup-sec .box1 .box-right{
        background: #f0fafd;
        margin: 0px 0px;
        padding: 3rem;
        border-radius: 0px 20px 20px 0px;
    }
    .signup-sec .box1 .box-right .sign-up-form{
        margin: 1rem;
    }
    .signup-sec .box1 .box-right .sign-up-form h2{
        font-size: 4rem;
        font-weight: 400;
        color: #1D84B9;
        margin: 2rem 0rem;
    }
    .signup-sec .box1 .box-right .sign-up-form label{
        color: #195D9B;
        font-size: 16px;
    }
    .signup-sec .box1 .box-right .sign-up-form input{
        border-bottom: 1px solid #195D9B !important;
        border: none;
        background: #f0fafd !important;
        width: 100%;
    }

.signup-sec .box1 .box-right .sign-up-form .text-right{
        margin-top: 2rem;
        text-align: right;
    }

.signup-sec .box1 .box-right .sign-up-form button{
    background: linear-gradient(90deg, rgba(25,93,155,1) 52%, rgba(29,132,185,1) 100%, rgba(102,185,211,1) 100%, rgba(255,255,255,0) 100%);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
    width: 30%;
    color: #fff;
    border: 1px solid #66B9D3;
}

.lastest-news{
    padding: 10px 0px;
}

.lastest-news .heading{
margin: 20px;
  }
  .lastest-news .heading h2{
  font-size: 40px;
  font-weight: 500;
  color: #103160;
  text-align: left;
  }

.lastest-news .lastest-news-in{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:2rem;
    grid-auto-rows: minmax(400px,auto);
    border-radius: 20px;
}

.lastest-news .lastest-news-in .box1{
color: #1D84B9;
}
.lastest-news .lastest-news-in .box1 .box1-image{
    /* background: url(../../optimum/plugins/images/home-page.png) top center/cover no-repeat!important;
    background-size: cover;
    width: 100%;
    padding: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box; */
    /* margin: 30px; */
    height: 400px;
    width: 100%;
    position: relative;
}
.lastest-news .lastest-news-in .box1 .box1-image .button-on-image{
    position: absolute;

}

.lastest-news .lastest-news-in .box1 .box1-image .button-on-image h2{
    color: #fff;
    position: absolute;

    top: -120px;
    left: 50px;
}
.lastest-news .lastest-news-in .box1 .box1-image .button-on-image button{
    padding: 5px 10px;
    background: #ed84ea;
    color: #fff;
    border: 1px solid #ed84ea;
    border-radius: 20px;
    margin: 10px;
    position: absolute;

    top: -55px;
    left: 50px;
}

.lastest-news .lastest-news-in .box1 .box1-image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.lastest-news .lastest-news-in .box2{
    color: #f0f;
    }
    .lastest-news .lastest-news-in .box2 .box-top{
        height: 200px;
        width: 100%;
        padding-bottom: 5px;

    }
    .lastest-news .lastest-news-in .box2 .box-top .button-on-image{
        position: absolute;
    }

    .lastest-news .lastest-news-in .box2 .box-top .button-on-image h2{
        color: #fff;
        position: absolute;
        top: -90px;
        left: 30px;
        font-size: 18px;
    }
    .lastest-news .lastest-news-in .box2 .box-top .button-on-image button{
        padding: 5px 10px;
    background: #ed84ea;
    color: #fff;
    border: 1px solid #ed84ea;
    border-radius: 20px;
    /* margin: 10px; */
        position: absolute;
        top: -40px;
        left: 30px;
    }

    .lastest-news .lastest-news-in .box2 .box-top img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .lastest-news .lastest-news-in .box2 .box-bottom{
        height: 200px;
        width: 100%;
        padding-top: 5px;

    }

    .lastest-news .lastest-news-in .box2 .box-bottom .button-on-image{
        position: absolute;
    }

    .lastest-news .lastest-news-in .box2 .box-bottom .button-on-image h2{
        color: #fff;
        position: absolute;
        top: -90px;
        left: 30px;
        font-size: 18px;
    }
    .lastest-news .lastest-news-in .box2 .box-bottom .button-on-image button{
        padding: 5px 10px;
    background: #ed84ea;
    color: #fff;
    border: 1px solid #ed84ea;
    border-radius: 20px;
    /* margin: 10px; */
        position: absolute;
        top: -40px;
        left: 30px;
    }
    .lastest-news .lastest-news-in .box2 .box-bottom img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .block-sec{
        padding: 10px;
    }

    .block-sec .block-sec-in{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap:1rem;
        grid-auto-rows: minmax(400px,auto);
        /* border-radius: 20px; */
    }

    .block-sec .block-sec-in .block-sec-left{
        padding: 5px 0px;
    }
    .block-sec .block-sec-in .block-sec-left .feature-block{
        margin: 10px;
    }
    .block-sec .block-sec-in .block-sec-left .feature-block .heading{
padding: 10px;
    }
    .block-sec .block-sec-in .block-sec-left .feature-block .heading h2{
      color: #fff;
            }
     .block-sec .block-sec-in .block-sec-left .feature-block .feature-block-in{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap:1rem;
        grid-auto-rows: minmax(200px,auto);
        margin: 20px;
    background: #975bbf;
            }
.block-sec .block-sec-in .block-sec-left .feature-block .feature-block-in  .block-img{
    height: 200px;
    width: 100%;
}
.block-sec .block-sec-in .block-sec-left .feature-block .feature-block-in  .block-img img{
    height: 100%;
    width: 100%;
}
.block-sec .block-sec-in .block-sec-left .feature-block .feature-block-in .block-content h2{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.block-sec .block-sec-in .block-sec-left .feature-block .feature-block-in .block-content h3{
    color: rgb(233, 227, 227);
    font-size: 18px;
    /* font-weight: 400; */
}

.block-sec .block-sec-in .block-sec-right{
    padding: 0px 0px;
}
.block-sec .block-sec-in .block-sec-right .cardone{
    padding: 0px 0px;
    background: #975bbf;
}
.block-sec .block-sec-in .block-sec-right .cardone .heading{
    /* padding: 5px 5px; */
}
.block-sec .block-sec-in .block-sec-right .cardone .heading h2{
   color: #fff;
   font-weight: 400;
   font-size: 20px;
   background: #ed84ea;
   padding: 5px 5px;
}

.block-sec .block-sec-in .block-sec-right .cardone .cardone-content{
    padding: 0px;
}
.block-sec .block-sec-in .block-sec-right .cardone .cardone-content .cardone-content-image{
   height: 100px;
   width: 100%;
   text-align: center;
}
.block-sec .block-sec-in .block-sec-right .cardone .cardone-content .cardone-content-image img{
    height: 100%;
    width: 30%;
    border-radius: 50%;
 }
 .block-sec .block-sec-in .block-sec-right .cardone .cardone-content h2{
    padding: 0px 20px;
    font-size: 18px;
    color: rgb(233, 227, 227);
}
.block-sec .block-sec-in .block-sec-right .cardone .cardone-content .button-center{
text-align: center;
}
.block-sec .block-sec-in .block-sec-right .cardone .cardone-content .button-center button{
    padding: 5px 10px;
    background: #ed84ea;
    color: #fff;
    border: 1px solid #ed84ea;
    border-radius: 20px;
margin: 10px
    }
    .block-sec .block-sec-in .block-sec-left .lastest{
        margin: 10px;
    }
    .block-sec .block-sec-in .block-sec-left .lastest .heading{
        margin: 0px;
    }
    .block-sec .block-sec-in .block-sec-left .lastest .heading h2{
        color: #fff;
        font-size: 20px;
        font-weight: 400;
    }
    .block-sec .block-sec-in .block-sec-left .lastest .lastest-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
        grid-auto-rows: minmax(200px,auto);
        margin: 20px;
    }
    .block-sec .block-sec-in .block-sec-left .lastest .lastest-block .lastest-block-in{
    margin: 0px;
    background: #975bbf;
    }
    .block-sec .block-sec-in .block-sec-left .lastest .lastest-block .lastest-block-in .image{
        height: 180px;
        width: 100%;
    }
    .block-sec .block-sec-in .block-sec-left .lastest .lastest-block .lastest-block-in .image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .block-sec .block-sec-in .block-sec-left .lastest .lastest-block .lastest-block-in h2{
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        padding: 0px 10px;

    }
    .block-sec .block-sec-in .block-sec-left .lastest .lastest-block .lastest-block-in h3{
        font-size: 16px;
        color: #fff;
        padding: 0px 10px;

    }

    .block-sec .block-sec-in .block-sec-right .cardtwo{
        padding: 0px 0px;
        background: #975bbf;
    }
    .block-sec .block-sec-in .block-sec-right .cardtwo .heading{
        /* padding: 5px 5px; */
    }
    .block-sec .block-sec-in .block-sec-right .cardtwo .heading h2{
       color: #fff;
       font-weight: 400;
       font-size: 20px;
       background: #ed84ea;
       padding: 5px 5px;
    }

    .block-sec .block-sec-in .block-sec-right .cardtwo .cardtwo-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
        grid-auto-rows: minmax(100px,auto);
        padding: 10px;
    }
    .block-sec .block-sec-in .block-sec-right .cardtwo .cardtwo-block .cardtwo-image{
height: 100px;
width: 100%;
    }
    .block-sec .block-sec-in .block-sec-right .cardtwo .cardtwo-block .cardtwo-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
            }
            .block-sec .block-sec-in .block-sec-right .cardtwo .cardtwo-block .cardtwo-content{
                padding: 0px;
            }
            .block-sec .block-sec-in .block-sec-right .cardtwo .cardtwo-block .cardtwo-content h2{
                color: #fff;
                font-size: 16px;
                line-height: 20px;
            }

            .form-block{
                /* margin: 20px; */

                padding: 10px;

                background-color: #975bbf;
            }

            .form-block .form-block-in{
                display: grid;
                grid-template-columns:repeat(1,3fr 2fr 1fr);
                gap:1rem;
                grid-auto-rows: minmax(70px,auto);
            }
            .form-block .form-block-in .name{
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                padding: 10px;
            }
            .form-block .form-block-in .phone-numbar{
                padding: 10px;
            }
            .form-block  .form-block-in .phone-numbar button{
                padding: 10px 10px;
                background: #eee6f0;
                color: #000;
                border: 1px solid #eee6f0;
                border-radius: 20px;
                margin: 10px;
                width: 100%;
            }
            .form-block .form-block-in .submit-form-button{
                padding: 10px;
            }
            .form-block .form-block-in .submit-form-button button{
                padding: 10px 10px;
                background: #ed84ea;
                color: #fff;
                border: 1px solid #ed84ea;
                border-radius: 20px;
                margin: 10px;
                width: 100%;
            }

            .footer-bottom{
                padding: 10px;
                color: #7e41a6;
            }
            .footer-bottom .footer-bottom-in{
                padding: 10px;
            }
            .footer-bottom .footer-bottom-in .footer-bottom-in-first{
padding: 10px;
            }
            .footer-bottom .footer-bottom-in .footer-bottom-in-first h2{
               color: #fff;
               font-weight: 400;
               text-align: center;
            }
            .footer-bottom .footer-bottom-in .footer-bottom-in-first span{
                color: #ed84ea;
                font-weight: 400;
                text-align: center;
            }
        .footer-bottom .footer-bottom-in .footer-bottom-in-first h3{
            color: #7e41a6;
        }
        .footer-bottom .footer-bottom-in .footer-bottom-in-second{
        padding: 0px;
           }

        .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid{
            display: grid;
            grid-template-columns:repeat(1,1fr 1fr 1fr);
            gap:1rem;
            grid-auto-rows: minmax(70px,auto);
           }
           .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content{
               color: #fff;
               padding: 0px;
           }
           .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content a{
            color: #fff;
            padding: 10px 0px;
            font-size: 16px;
        }
        .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content a i{
            color: #ed84ea;
            font-size: 18px;
            padding: 0px 10px;
        }
        .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content-left{
            color: #fff;
            padding: 0px;
            text-align: right;

        }
        .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content-left a{
            color: #fff;
            padding: 10px 0px;
            text-align: right;
            font-size: 16px;
        }
        .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content-mid{
            color: #fff;
            padding: 0px;
            text-align: center;

        }
        .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content-mid a{
            color: #fff;
            padding: 10px 0px;
            text-align: center;
            font-size: 16px;
        }
        .footer-bottom .footer-bottom-in .footer-bottom-in-second .footer-bottom-grid .footer-content-mid a i{
            color: #ed84ea;
            font-size: 18px;
            padding: 0px 10px;
        }

        .block-sec .block-sec-in .block-sec-right .cardfour{
            padding: 0px 0px;
            background: #975bbf;
        }
        .block-sec .block-sec-in .block-sec-right .cardfour .heading{
            /* padding: 5px 5px; */
        }
        .block-sec .block-sec-in .block-sec-right .cardfour .heading h2{
           color: #fff;
           font-weight: 400;
           font-size: 20px;
           background: #ed84ea;
           padding: 5px 5px;
        }
        .block-sec .block-sec-in .block-sec-right .cardfour .cardfour-content ul{
            padding: 10px 30px;
            /* background: #975bbf; */
            color: #ed84ea;
            /* font-size: 18px; */
        }
        .block-sec .block-sec-in .block-sec-right .cardfour .cardfour-content ul li{
            /* padding: 10px 30px; */
            /* background: #975bbf; */
            color: #fff;
            font-size: 16px;
        }